# Deny access to .git directories
RewriteEngine On
RewriteRule (^|/)\.git - [F,L]

# Ensure Authorization header reaches PHP-FPM
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
